.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.movieContainer {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}
.movieImages {
  display: inline-block;
  width: 170px;
  margin-right: 15px;
  position: relative;
}
.movieImages img {
  width: 120%;
  border-radius: 30px;
  display: inline;
  transition: all 0.3s ease;
}
.movieImages img:hover {
  scale: 1.1;
  cursor: pointer;
  height: auto;
  position: relative;
  z-index: 10;
}
.blurred img {
  filter: blur(4px) brightness(50%);
  transform: scale(1);
  opacity: 0.85;
  transition: all .5s ease;
}
.movieContainer::-webkit-scrollbar {
  display: none;
}

.movieInfos {
  position: absolute;
  left: 80px;
  z-index: 11;
  margin-top: 0;
  color: white;
}
.movieInfos p {
  width: 600px;
  text-align: justify;
  overflow-wrap: break-word; 
  white-space: normal;       
  overflow: hidden;          
  text-overflow: clip;       
  margin: 0;   
  margin-top: 10px;              
  font-size: 1.1rem;
}
i{
    font-weight: 800;
    margin-top: 20px;
}